/* Force styles so not to be overriden by theme */
div.contextual-links-wrapper {
  font-size: 13px !important;
  background: transparent !important;
}
div.contextual-links-wrapper li {
  margin: 0 !important;
}
div.contextual-links-wrapper li a {
  font-size: 13px !important;
  color: #000 !important;
  line-height: 1 !important;
  text-decoration: none !important;
  font-family: Arial, sans-serif !important;
  font-weight: normal !important;
}
/* Offset nested contextual links */
.contextual-links-region .contextual-links-region .context-links-wrapper {
  right: -15px;
}
.contextual-links-region .contextual-links-region .contextual-links-region .context-links-wrapper {
  right: -30px;
}
