/* Force styles so not to be overriden by theme */
div.contextual-links-wrapper {
  font-size: 13px !important;
  background: transparent !important;
}
div.contextual-links-wrapper li {
  margin: 0 !important;
}
div.contextual-links-wrapper li a {
  font-size: 13px !important;
  color: #000 !important;
  line-height: 1 !important;
  text-decoration: none !important;
}
/* Views pages might place the contextual link on top of others */
.page-views #main-content > .contextual-links-wrapper {
  right: -15px;
}
